@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: regular;
  font-style: normal; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

.section, footer {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 650px; }

.title {
  font-size: 72px;
  font-weight: 100;
  font-family: Gagalin,Arial;
  font-style: normal;
  color: #f9b43b;
  text-align: center; }

.button {
  display: inline-block;
  font-family: Ubuntu, Arial;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
  background: #e45028; }
  .button:hover {
    background: #ce401a; }

.ubuntu__light {
  color: #7f7e7d;
  font-size: 14px;
  font-family: Ubuntu, Arial;
  font-weight: 300; }

.container {
  width: 960px;
  margin: 0 auto; }

.header {
  height: 100vh;
  width: 100%;
  background: url("../img/video-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px; }

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0 0 0; }

.logo {
  margin-right: auto; }

.nav {
  margin-right: 5px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  font-family: Ubuntu, Arial;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:hover {
    text-decoration: underline;
    cursor: pointer; }
  .nav__item:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    margin: 0 -15px; }
  .nav__item:first-child:before {
    display: none; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.header__left {
  margin: -120px 0 0 18px; }

.header__left__img {
  width: 99%; }

.title--header {
  margin: 15px 80px 55px 0; }

.header__right__descr {
  color: #fff;
  font-size: 65px;
  font-weight: medium;
  font-family: Lifehack,Arial;
  line-height: 60px; }

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  margin-bottom: 40px; }
  .arrows:hover {
    -webkit-transform: scale(1.1) translateY(-10px);
    -ms-transform: scale(1.1) translateY(-10px);
    transform: scale(1.1) translateY(-10px);
    cursor: pointer; }

.title--black {
  color: #2f3234; }

.weBest {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  margin-top: -20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px; }

.description__item {
  width: 30%;
  text-align: center; }

.description__info {
  text-align: center;
  width: 100%; }

.description__title {
  font-family: Lifehack, Arial;
  font-size: 24px;
  color: #2f3234;
  margin: 15px 0 20px 0; }

.description__info p {
  margin-top: -10px;
  color: #807f7e;
  line-height: 25px; }

.team {
  background: url("../img/bg_team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.title--team-position {
  margin: 130px 0 0 95px; }

.team__container {
  list-style: none;
  position: absolute;
  right: 0;
  width: 48%;
  height: 100%;
  z-index: 1; }

.team__container:before {
  content: "";
  z-index: -1;
  background: #2e3133;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; }

.team__item {
  margin: 40px 0 0 100px; }

.team__title {
  color: #fff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer; }
  .team__title:hover {
    color: #f9b43b; }

.team__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 80px;
  margin-top: 6px;
  border: 8px solid transparent;
  border-top: 8px solid #f9b43b; }

.team__info {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none; }

.team__img {
  border-radius: 50%; }

.info__worker {
  width: 240px;
  margin-right: 160px;
  font-family: Ubuntu, Arial;
  color: #fff;
  font-size: 14px; }

.worker__name {
  font-weight: 900; }

.info__worker p {
  font-weight: 300; }

.team__list--active .team__title {
  color: #f9b43b; }

.team__list--active .team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team__list--active .team__title {
  color: #f9b43b; }
  .team__list--active .team__title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -5px; }

.menu {
  background: url("../img/bg_menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.title--menu {
  position: absolute;
  color: #fff;
  top: 100px;
  left: 90px; }

.menu__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 5px;
  height: 100%;
  width: 100%;
  top: 0;
  color: #fff; }

.menu__list {
  display: inline-block;
  width: 100px;
  position: relative;
  margin-right: -5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menu__list:first-child {
  margin-left: auto; }

.menu__list--active {
  width: 600px; }
  .menu__list--active .menu__info {
    width: 500px;
    padding: 50px;
    line-height: 25px; }

.menu__item {
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -6px;
  text-align: right;
  height: 100vh;
  width: 100px;
  font-size: 40px;
  font-family: Gagalin, Arial;
  z-index: 1; }

.menu__item__bg {
  background: rgba(46, 49, 51, 0.35);
  position: absolute;
  width: 100%;
  height: 100%; }

.menu__info {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(46, 49, 51, 0.95);
  padding: 30px 20px 0 20px;
  width: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.text__rotate {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 320px;
  z-index: 10; }

.reviews {
  background: black; }
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.reviews__people {
  height: 50vh;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  .reviews__people:hover .hide {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }

.hide {
  width: 100%;
  height: 100%;
  visibility: hidden;
  cursor: pointer;
  padding-top: 1px;
  padding-left: 20px; }
  .hide p {
    color: #fff;
    padding: 20px 40px 20px 0;
    line-height: 30px; }

.hide__title {
  font-family: Gagalin;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  margin-top: 25px; }

.button--hide {
  background: #2f3234; }
  .button--hide:hover {
    background: #1e2021; }

.reviews__people {
  background-size: cover;
  background-repeat: no-repeat; }

.order {
  height: 100vh;
  width: 100%;
  background: url("../img/bg-form.jpg") center center no-repeat;
  background-size: cover; }

.order--title {
  padding-top: 120px; }

.order__form {
  margin-top: 15px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.column {
  width: 49%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__block {
  padding: 15px 0 10px 0;
  margin-right: 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
  color: #fff;
  font-size: 14px; }

.form__input {
  width: 90%;
  padding: 8px; }

.form__input, .form__textarea {
  border-radius: 5px;
  font-family: Ubuntu, Arial;
  font-size: 14px;
  color: #2f3234;
  outline-color: #f9b43b; }

.button--order {
  margin-top: 15px; }

.clear {
  display: inline-block;
  cursor: pointer;
  margin: 15px 0 0 20px;
  padding: 5px;
  cursor: pointer; }

.contacts {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.map__img {
  width: 100%;
  height: 100vh; }

.contacts__info {
  width: 100%;
  height: 58px;
  position: absolute;
  bottom: 1px;
  background: black;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contacts__left {
  margin-left: 80px;
  font-family: Ubuntu, Arial;
  font-size: 14px; }

.left__adress {
  margin: 4px; }

.left__phone {
  margin: 7px;
  color: #e45028;
  font-weight: bold; }

.social__right {
  margin-right: 70px;
  margin-top: 14px; }

.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px; }

.social__img {
  height: 20px;
  width: 20px;
  opacity: 0.7; }
  .social__img:hover {
    opacity: 1; }

.navigat {
  list-style: none;
  position: fixed;
  right: 153px;
  top: 90px;
  margin: 0;
  padding: 0;
  width: 40px;
  z-index: 1000; }
  .navigat .navigat__active .navigat__link:before {
    opacity: 1;
    width: 15px;
    height: 15px; }

.navigat__link:before, .navigat__link:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0; }

.navigat__link:hover:before {
  opacity: 1;
  width: 15px;
  height: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navigat__item {
  width: 10px;
  height: 10px;
  margin-bottom: 11px;
  position: relative;
  display: block; }

.navigat__link {
  width: 6px;
  height: 6px;
  padding: 6px;
  position: absolute;
  border-radius: 50%; }

.navigat__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff; }

/*# sourceMappingURL=main.css.map */