@charset "UTF-8";
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: light;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: regular;
  font-style: normal; }

html {
  font-size: 16px; }
  @media screen and (max-width: 769px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0rem; }

.section {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 40.625rem; }
  @media screen and (max-width: 480px) {
    .section {
      max-height: 100%;
      min-height: 100%; } }

.title {
  font-size: 4.5rem;
  font-weight: 100;
  font-family: Gagalin,Arial;
  font-style: normal;
  color: #f9b43b;
  text-align: center; }

.button {
  display: inline-block;
  font-family: Ubuntu, Arial;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0.625rem 0.875rem 0.625rem 0.875rem;
  border-radius: 0.5rem;
  background: #e45028; }
  .button:hover {
    background: #ce401a; }

.container {
  max-width: 60rem;
  margin: 0 auto;
  width: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .wrapper {
      max-height: 100%;
      min-height: 100%; } }

.maincontent {
  height: 100%;
  min-height: 650px;
  top: 0%;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  will-change: transform; }
  @media screen and (max-width: 480px) {
    .maincontent {
      max-height: 100%;
      min-height: 100%; } }

.header {
  height: 100vh;
  width: 100%;
  background: url("../img/video-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40.625rem; }
  @media screen and (max-width: 480px) {
    .header {
      min-height: 100%;
      max-height: 100%; } }

.header__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 769px) {
    .header__container {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  padding-top: 5px; }
  @media screen and (max-width: 769px) {
    .header__nav {
      margin-top: -5px;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .header__nav {
      margin-top: -1%;
      margin-left: 7%; } }

.logo {
  margin-right: auto;
  margin-top: 1%;
  margin-left: 1%; }
  @media screen and (max-width: 769px) {
    .logo {
      margin: -30px 0px 0 19px;
      margin-right: auto; } }
  @media screen and (max-width: 480px) {
    .logo {
      margin: 12px 0px 0 -17px;
      margin-right: auto; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff; }
  @media screen and (max-width: 769px) {
    .nav__list {
      display: none; } }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Ubuntu, Arial;
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 19px; }
  .nav__item:hover {
    text-decoration: underline;
    cursor: pointer; }
  .nav__item:before {
    content: "";
    display: inline-block;
    width: 0.3125rem;
    height: 0.3125rem;
    background: #fff;
    margin-right: 13px;
    border-radius: 50%; }
  .nav__item:first-child:before {
    display: none; }

.nav__link {
  color: white;
  text-decoration: none; }

.header__button {
  margin-right: 1%; }
  @media screen and (max-width: 769px) {
    .header__button {
      margin: -35px 39px 0 0; } }
  @media screen and (max-width: 480px) {
    .header__button {
      margin: 0px 40px 0 0; } }

.gamburger {
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  width: 0; }
  @media screen and (max-width: 769px) {
    .gamburger {
      width: 23px;
      margin: -35px 30px 0 0; } }
  @media screen and (max-width: 480px) {
    .gamburger {
      margin: 0px 20px 0 0; } }

.gamburger__item {
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 3px; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  height: 440px; }
  @media screen and (max-width: 769px) {
    .header__content {
      height: 70%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .header__content {
      height: 80%; } }

.header__left {
  width: 50%;
  margin-top: 7%; }
  @media screen and (max-width: 769px) {
    .header__left {
      margin: 123px 0px 0 0;
      width: 60%; } }
  @media screen and (max-width: 480px) {
    .header__left {
      height: 50%;
      width: 77%;
      padding-top: 11%;
      margin: 0;
      text-align: center; } }
  @media screen and (max-width: 420px) {
    .header__left {
      padding-top: 0; } }

.header__img {
  margin-top: -121px;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .header__img {
      margin-top: 0%;
      width: 92%; } }

.header__right {
  width: 50%; }
  @media screen and (max-width: 769px) {
    .header__right {
      width: 70%;
      margin-bottom: 40px;
      padding: 10px 0 0 0;
      height: 40%; } }
  @media screen and (max-width: 480px) {
    .header__right {
      width: 100%;
      height: 50%;
      margin-top: 15%; } }
  @media screen and (max-width: 420px) {
    .header__right {
      margin-top: 15%; } }

.title--header {
  padding: 85px 0 0 10px;
  text-align: left;
  margin-left: 7px; }
  @media screen and (max-width: 769px) {
    .title--header {
      padding: 0 0 0 0;
      margin: 6px 0 0 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .title--header {
      margin: -7% 0px 0 2%;
      text-align: center; } }
  @media screen and (max-width: 420px) {
    .title--header {
      font-size: 3.5rem; } }

.header__descr {
  color: #fff;
  font-size: 3.75rem;
  font-family: Lifehack,Arial;
  margin-top: 20px;
  line-height: 60px;
  padding-left: 15px; }
  @media screen and (max-width: 769px) {
    .header__descr {
      font-size: 4.5rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .header__descr {
      font-size: 3.5rem;
      margin-top: -1%; } }
  @media screen and (max-width: 420px) {
    .header__descr {
      font-size: 2.8rem;
      line-height: 42px;
      padding-top: 20px; } }

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  margin-bottom: 2.5rem; }
  .arrows:hover {
    -webkit-transform: scale(1.1) translateY(-0.625rem);
    -ms-transform: scale(1.1) translateY(-0.625rem);
    transform: scale(1.1) translateY(-0.625rem);
    cursor: pointer; }
  @media screen and (max-width: 769px) {
    .arrows {
      margin-bottom: 0;
      height: 3%; } }
  @media screen and (max-width: 480px) {
    .arrows {
      margin-bottom: 15px; } }
  @media screen and (max-width: 420px) {
    .arrows {
      margin-bottom: 15%; } }

.under-menu {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #2f3234;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.under-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  width: 90%; }

.under-menu__logo {
  margin: 2px 0 0 -8px; }

.under-menu__content {
  height: 79%;
  width: 50%; }

.under-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center; }

.under-menu__item {
  margin-top: 52px;
  position: relative; }
  @media screen and (max-width: 420px) {
    .under-menu__item {
      margin-top: 30px; } }

.under-menu__link {
  color: white;
  text-decoration: none; }

.under-menu__left, .under-menu__right {
  display: inline-block;
  border-radius: 10px;
  width: 24px;
  height: 4px;
  background: #c1c2c2; }

.under-menu__exit {
  cursor: pointer;
  margin-top: 25px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 2px; }
  @media screen and (max-width: 769px) {
    .under-menu__exit {
      margin: 0 -15px 0 0px; } }
  @media screen and (max-width: 480px) {
    .under-menu__exit {
      margin-top: 0px;
      margin-right: -13px; } }

.under-menu__left {
  -webkit-transform: rotate(45deg) translate(12px);
  -ms-transform: rotate(45deg) translate(12px);
  transform: rotate(45deg) translate(12px); }

.under-menu__right {
  -webkit-transform: rotate(-45deg) translate(12px);
  -ms-transform: rotate(-45deg) translate(12px);
  transform: rotate(-45deg) translate(12px); }

.not-visible {
  height: 0; }

.under-menu__item:before {
  min-width: 2px;
  min-height: 2px;
  z-index: 100;
  content: '';
  padding: 3px;
  background: white;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -100%; }

.under-menu__item:first-child:before {
  display: none; }

.title--black {
  color: #2f3234;
  margin-top: -15px;
  margin-bottom: 5px; }
  @media screen and (max-width: 769px) {
    .title--black {
      margin-top: -165px; } }
  @media screen and (max-width: 480px) {
    .title--black {
      font-size: 3.5rem;
      margin: -5% 0 0 0;
      padding: 0; } }
  @media screen and (max-width: 420px) {
    .title--black {
      margin-top: 0%;
      padding: 0; } }

.webest {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .webest {
      padding: 0 10px; } }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 5px;
  height: 270px; }
  @media screen and (max-width: 480px) {
    .description {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 50%;
      margin: 0; } }

@media screen and (max-width: 480px) {
  .description__item {
    height: 10%; } }

.description__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%; }
  @media screen and (max-width: 769px) {
    .description__item {
      width: 30%; } }
  @media screen and (max-width: 480px) {
    .description__item {
      width: 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.description__info {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 769px) {
    .description__info {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .description__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 70%; }
      .description__info p {
        font-size: 14px;
        line-height: 20px; } }
    @media screen and (max-width: 480px) and (max-width: 420px) {
      .description__info p {
        line-height: 1.4rem; } }

.webest__svg {
  width: 100px;
  height: 90px;
  margin-bottom: 10px; }

.description__title {
  font-family: Lifehack, Arial;
  font-size: 1.5rem;
  color: #2f3234;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  line-height: 27px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .description__title {
      font-size: 1.5rem;
      margin-top: 20px;
      padding-top: 0px;
      padding-bottom: 28px; } }
  @media screen and (max-width: 420px) {
    .description__title {
      margin-top: 3px;
      padding-top: 0px;
      padding-bottom: 10px; } }

.description__info p {
  margin-top: 0rem;
  color: #807f7e;
  line-height: 1.5rem; }

.slider {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f9b43b), color-stop(60%, #eb8d38), color-stop(90%, #f9b43b));
  background: -o-linear-gradient(top, #f9b43b 30%, #eb8d38 60%, #f9b43b 90%);
  background: linear-gradient(to bottom, #f9b43b 30%, #eb8d38 60%, #f9b43b 90%);
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider-wrap {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1050px;
  max-height: 600px; }
  @media screen and (max-width: 769px) {
    .slider-wrap {
      max-height: 90%; } }
  @media screen and (max-width: 480px) {
    .slider-wrap {
      max-height: 95%;
      height: 95%; } }

.slider__container {
  width: 90%;
  width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  @media screen and (max-width: 480px) {
    .slider__container {
      width: 100%;
      height: 100%; } }

.slider__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: left 0.7s;
  -o-transition: left 0.7s;
  transition: left 0.7s;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.slider__item-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 769px) {
    .slider__item-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.slider__pictures {
  width: 50%;
  height: 100%;
  position: relative; }
  @media screen and (max-width: 769px) {
    .slider__pictures {
      width: 100%;
      height: 50%;
      height: 45%;
      margin-top: 6%; } }
  @media screen and (max-width: 480px) {
    .slider__pictures {
      margin: 0;
      height: 54%; } }
  @media screen and (max-width: 420px) {
    .slider__pictures {
      height: 50%; } }

.slider__button {
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  width: 6%;
  height: 20%;
  padding-top: 4%;
  top: 40%; }

@media screen and (max-width: 769px) {
  .slider__button {
    top: 44%;
    width: 10%;
    height: 13%;
    z-index: 10; } }

@media screen and (max-width: 480px) {
  .slider__button {
    top: 43%; } }

.slider__button--left {
  left: 0px;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .slider__button--left {
      left: 2%; } }

.slider__img--left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media screen and (max-width: 769px) {
    .slider__img--left {
      padding-left: 46%; } }

.slider__button--right {
  right: 0px;
  text-align: left; }
  @media screen and (max-width: 480px) {
    .slider__button--right {
      right: 2%; } }

.slider__img--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media screen and (max-width: 769px) {
    .slider__img--right {
      padding-right: 46%; } }

.slider__consist, .slider__kkal {
  width: 90px;
  height: 90px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute; }

.slider__consist {
  cursor: pointer;
  background: #f08c33;
  border-radius: 5px;
  left: 5%;
  top: 5%; }
  @media screen and (max-width: 769px) {
    .slider__consist {
      top: 5%;
      left: 16%; } }
  @media screen and (max-width: 480px) {
    .slider__consist {
      top: 8%;
      left: 2%; } }
  .slider__consist:hover {
    background: #e35028;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.slider__consist--red {
  background: #e35028; }

.consist-info__img {
  width: 42px;
  height: 46px; }

.consist-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 330px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  width: 0px;
  overflow: hidden;
  top: 5%;
  left: 112px; }
  @media screen and (max-width: 769px) {
    .consist-info {
      top: 5%;
      left: 99px; } }
  @media screen and (max-width: 480px) {
    .consist-info {
      top: 8%;
      left: 94px; } }

.consist-info--visible {
  width: 270px; }
  @media screen and (max-width: 480px) {
    .consist-info--visible {
      width: 200px; } }

.consist-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2f3234;
  font-family: Ubuntu, Arial;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px; }

.slider__pic {
  height: 100%;
  width: 100%; }

.slider__about {
  font-size: 14px;
  font-family: Gagalin, Arial;
  text-transform: uppercase;
  color: #fff;
  line-height: 30px; }

.slider__burger {
  margin: 0;
  margin-top: 23%;
  width: 100%;
  height: 63%; }
  @media screen and (max-width: 769px) {
    .slider__burger {
      padding-top: 13%;
      width: 100%;
      margin: 0;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    .slider__burger {
      margin-top: 17%;
      height: 71%; } }
  @media screen and (max-width: 420px) {
    .slider__burger {
      margin-top: 7%; } }

.slider__burger-img {
  max-width: 100%;
  max-height: 100%; }
  @media screen and (max-width: 769px) {
    .slider__burger-img {
      width: 73%;
      height: 80%; } }
  @media screen and (max-width: 480px) {
    .slider__burger-img {
      width: 84%;
      height: 91%; } }
  @media screen and (max-width: 420px) {
    .slider__burger-img {
      width: 75%;
      height: 100%; } }

.slider__kkal {
  bottom: 5%;
  left: -2%; }
  @media screen and (max-width: 769px) {
    .slider__kkal {
      top: 2%;
      left: 73%; } }
  @media screen and (max-width: 480px) {
    .slider__kkal {
      top: 5%;
      left: unset;
      right: 0%; } }

.kkal__info {
  position: relative;
  opacity: 0.7; }
  @media screen and (max-width: 480px) {
    .kkal__info {
      width: 100%; } }

.kkal__info-container {
  position: absolute;
  top: 38%;
  left: 29%; }

.slider__info {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 769px) {
    .slider__info {
      height: 50%;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__title {
  color: #fff;
  text-align: left;
  line-height: 70px;
  width: 80%;
  padding: 14% 0px 0 1%;
  line-height: 65px;
  margin: 1% 0 0 2%; }
  @media screen and (max-width: 769px) {
    .slider__title {
      width: 75%;
      margin: 0;
      text-align: center;
      padding: 4% 0 0 0;
      -ms-flex-item-align: center;
      align-self: center; } }
  @media screen and (max-width: 480px) {
    .slider__title {
      margin-top: 0;
      font-size: 3.5rem;
      line-height: 3.3rem; } }
  @media screen and (max-width: 420px) {
    .slider__title {
      font-size: 2.6rem;
      line-height: 2.9rem;
      width: 100%;
      margin-top: 10px; } }

.slider__description {
  font-family: Ubuntu, Arial;
  font-weight: light;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  height: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  width: 95%;
  margin: 8% 0 0 0;
  padding: 1% 0 0 1%; }
  @media screen and (max-width: 769px) {
    .slider__description {
      width: 80%;
      margin: 5% 0 3% 0; } }
  @media screen and (max-width: 480px) {
    .slider__description {
      width: 90%;
      height: auto;
      margin-top: 6%;
      margin-bottom: -4%; } }
  @media screen and (max-width: 420px) {
    .slider__description {
      line-height: 17px;
      margin-top: 1%;
      margin-bottom: -8%;
      text-align: center; } }

.slider__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10%;
  height: 20%; }
  @media screen and (max-width: 769px) {
    .slider__buy {
      margin: 0;
      width: 62%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; } }
  @media screen and (max-width: 480px) {
    .slider__buy {
      width: 100%;
      padding-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 13%; } }

.slider__title--red {
  color: #e35028;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 0 0 5px; }
  @media screen and (max-width: 769px) {
    .slider__title--red {
      margin: 0;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .slider__title--red {
      font-size: 3.5rem; } }

.slider__ruble {
  color: #e35028;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Gagalin, Arial;
  margin: 7% 0 0 2%; }
  @media screen and (max-width: 769px) {
    .slider__ruble {
      margin: 30px 28px 0 10px; } }
  @media screen and (max-width: 480px) {
    .slider__ruble {
      font-size: 1.8rem;
      margin: 5% 8% 0 1%; } }

.button--order {
  margin: 35% 0% 0 27%; }
  @media screen and (max-width: 769px) {
    .button--order {
      margin: 30% 0 0 32%; } }
  @media screen and (max-width: 480px) {
    .button--order {
      margin: 20% 0 0 33%; } }

.button--slider {
  border: none;
  margin: 35% 0% 0 27%; }
  @media screen and (max-width: 769px) {
    .button--slider {
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .button--slider {
      margin: 20% 0 0 -9%; } }

.team {
  background: url("../img/bg_team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }

.team__container {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 49%;
  height: 100%;
  z-index: 10;
  background: rgba(46, 49, 51, 0.9); }
  @media screen and (max-width: 769px) {
    .team__container {
      left: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__content {
  padding: 11% 0 0 13%; }
  @media screen and (max-width: 769px) {
    .team__content {
      padding: 0 0 0 0;
      height: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .team__content {
      padding: 0 0 0 0; } }

.title--team-position {
  text-align: left;
  margin: 35px 0 0 1.5625rem; }
  @media screen and (max-width: 769px) {
    .title--team-position {
      text-align: center;
      margin: 0 0 0 0; } }
  @media screen and (max-width: 480px) {
    .title--team-position {
      font-size: 3.5rem;
      margin: -2% 0 0 0; } }

.team-acco {
  padding: 0 0 0 10%;
  margin: 7% 0 0 0;
  height: 100%; }
  @media screen and (max-width: 769px) {
    .team-acco {
      padding: 4% 0 0 0;
      margin: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .team-acco {
      height: 88%; } }

.team-acco__item {
  margin: 0 0 3% 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  @media screen and (max-width: 769px) {
    .team-acco__item {
      width: 50%;
      margin: 0 0 3% 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team-acco__item {
      margin: 0 0 4% 0;
      width: 85%; } }

.team__title {
  color: #fff;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: normal;
  cursor: pointer;
  position: relative; }
  .team__title:hover {
    color: #f9b43b; }
  @media screen and (max-width: 769px) {
    .team__title {
      font-size: 1.6rem;
      text-align: center;
      display: inline-block;
      width: 230px; } }

.team__title:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.25rem;
  top: 0.3125rem;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid #f9b43b; }
  @media screen and (max-width: 769px) {
    .team__title:before {
      left: 0;
      top: 30%;
      margin: 0;
      padding: 0;
      text-align: center; } }

.team__info {
  height: 0px;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 4% 0 0 0; }
  @media screen and (max-width: 769px) {
    .team__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 3% 0% 0% 0; } }
  @media screen and (max-width: 480px) {
    .team__info {
      padding: 3% 0% 0% 0; } }

.team__photo {
  border-radius: 50%;
  overflow: hidden;
  z-index: 10;
  min-width: 100px;
  min-height: 100px;
  height: 6.25rem;
  margin: 0 4% 0 0; }
  @media screen and (max-width: 480px) {
    .team__photo {
      margin: 0% 0 0 0;
      padding: 0% 0 0 0;
      min-width: 100px;
      min-height: 100px; } }

.team__img {
  min-width: 100px;
  min-height: 100px; }

.team-acco__worker {
  line-height: 1.25rem;
  margin-right: auto;
  font-family: Ubuntu, Arial;
  color: #fff;
  font-size: 0.875rem; }
  @media screen and (max-width: 769px) {
    .team-acco__worker {
      text-align: center;
      margin: 5% 0 0 0; } }

.worker__name {
  font-weight: bold;
  font-family: Ubuntu, Arial;
  font-size: 16px; }

.team-acco__worker p {
  font-weight: 300;
  width: 75%;
  height: 85%;
  margin: 0 0 0 0;
  padding: 4% 0 0 0;
  line-height: 23px; }
  @media screen and (max-width: 769px) {
    .team-acco__worker p {
      text-align: center;
      font-size: 14px;
      font-family: Ubuntu, Arial;
      margin: 0% 0 1% 0;
      width: 100%;
      height: 70%; } }

.team-acco__item--active .team__info {
  height: 132px; }
  @media screen and (max-width: 769px) {
    .team-acco__item--active .team__info {
      height: 200px; } }

.team-acco__item--active .team__title {
  color: #f9b43b; }

.team-acco__item--active .team__title {
  color: #f9b43b; }
  .team-acco__item--active .team__title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -0.3125rem; }

.menu {
  background: url("../img/bg_menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.title--menu {
  position: absolute;
  color: #fff;
  top: 100px;
  left: 90px; }
  @media screen and (max-width: 769px) {
    .title--menu {
      top: 50px;
      left: 50px; } }

.menu__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  height: 100%;
  width: 100%;
  top: 0;
  color: #fff; }

.menu__list {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
  display: inline-block;
  width: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 769px) {
    .menu__list {
      width: 10%; } }

.menu__list:hover .menu__text-rotate {
  color: #f9b43b;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.menu__list:first-child {
  margin-left: auto; }

.menu__list--active {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width: 620px; }
  @media screen and (max-width: 769px) {
    .menu__list--active {
      width: 80%;
      margin-right: auto; } }
  @media screen and (max-width: 480px) {
    .menu__list--active {
      margin-left: 0px;
      width: 80%; } }
  .menu__list--active .menu__info {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 540px;
    line-height: 24px;
    padding: 0; }
    @media screen and (max-width: 769px) {
      .menu__list--active .menu__info {
        width: 87.5%;
        padding: 9% 3% 6% 7%; } }
    @media screen and (max-width: 480px) {
      .menu__list--active .menu__info {
        line-height: 20px;
        font-size: 16px;
        margin: 0;
        width: 100%;
        padding: 9% 5% 6% 7%;
        overflow: hidden;
        height: 100%;
        width: 85%; } }
  .menu__list--active .menu__text-rotate {
    color: #f9b43b; }
  .menu__list--active .menu__item {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    @media screen and (max-width: 769px) {
      .menu__list--active .menu__item {
        width: 15%; } }

.menu__item {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  height: 100%;
  width: 80px;
  font-size: 40px;
  font-family: Gagalin, Arial;
  z-index: 1; }
  @media screen and (max-width: 769px) {
    .menu__item {
      width: 100%;
      max-width: 80px; } }

.menu__content {
  padding: 60px 0px 0 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 510px;
  height: auto; }
  @media screen and (max-width: 769px) {
    .menu__content {
      width: 95%;
      padding: 0; } }

.menu__item-bg {
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  width: 100%;
  height: 100%; }

.menu__info {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(46, 49, 51, 0.95);
  padding: 0;
  width: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    .menu__info {
      padding: 9% 8% 5% 73%; } }

.menu__text-rotate {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  bottom: 0px;
  left: 25%;
  width: 320px;
  z-index: 10;
  text-align: left;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media screen and (max-width: 769px) {
    .menu__text-rotate {
      left: 5px; } }
  @media screen and (max-width: 480px) {
    .menu__text-rotate {
      font-size: 2.0rem;
      left: 0%; } }

@media screen and (max-width: 768px) {
  .menu__content {
    width: 450px; }
  .menu__info {
    padding-top: 55px; } }

@media screen and (max-width: 700px) {
  .menu__content {
    width: 370px; } }

@media screen and (max-width: 600px) {
  .menu__content {
    width: 300px; } }

@media screen and (max-width: 440px) {
  .menu__content {
    width: 210px; }
  .menu__text-rotate {
    font-size: 1.5rem;
    left: 4%; } }

@media screen and (max-width: 370px) {
  .menu__content {
    width: 180px; } }

.reviews {
  background: black; }

.reviews__title {
  position: absolute;
  width: 100%;
  text-align: center;
  visibility: hidden; }

.reviews__list {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }

.reviews__people {
  height: 50vh;
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  font-weight: 300; }
  @media screen and (max-width: 769px) {
    .reviews__people {
      height: 25%;
      width: 50%; } }
  .reviews__people:hover .hide {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }

.hide {
  width: 100%;
  height: 100%;
  visibility: hidden;
  cursor: pointer;
  padding-top: 0.0625rem; }
  @media screen and (max-width: 769px) {
    .hide {
      text-align: center;
      padding-top: 1px; } }
  .hide p {
    color: #fff;
    line-height: 1.6rem;
    padding: 0 5% 0 9%;
    font-size: 14px;
    font-family: Ubuntu,Arial;
    font-weight: light; }
    @media screen and (max-width: 769px) {
      .hide p {
        padding: 0% 4% 0% 4%;
        margin: 0 0 0 0;
        line-height: 1.2rem; } }
    @media screen and (max-width: 480px) {
      .hide p {
        display: none; } }

.hide__title {
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: normal;
  color: #fff;
  margin-top: 1.5625rem;
  padding-left: 10%; }
  @media screen and (max-width: 769px) {
    .hide__title {
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin-top: 5%; } }
  @media screen and (max-width: 480px) {
    .hide__title {
      font-size: 1.5rem;
      margin: 0 0 0 0;
      text-align: center;
      padding: 7% 0 0 0; } }

.button--hide {
  background: #2f3234;
  margin-left: 1.25rem; }
  @media screen and (max-width: 769px) {
    .button--hide {
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
      margin-left: 0px;
      padding: 3% 9%; } }
  @media screen and (max-width: 480px) {
    .button--hide {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      margin-top: 17%; } }
  .button--hide:hover {
    background: #1e2021; }

.reviews__people {
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 769px) {
    .reviews__people {
      background-position: center center; } }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99; }

.overlay__container {
  position: relative; }
  @media screen and (max-width: 480px) {
    .overlay__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 88%;
      min-height: 30%; } }

.overlay__content {
  padding: 20px 0 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 470px;
  height: 250px;
  border-radius: 10px;
  background: #fff; }
  @media screen and (max-width: 480px) {
    .overlay__content {
      padding: 20px 20px 0 20px;
      width: 100%;
      height: 95%; } }

.close {
  color: red;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  font-size: 28px;
  width: 40px;
  height: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.close:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.overlay__title {
  font-family: Gagalin, Arial;
  font-size: 18px;
  font-weight: bold;
  color: #2f3234; }

.overlay__description {
  font-family: Ubuntu, Arial;
  font-weight: light;
  font-size: 14px;
  line-height: 25px; }

.order {
  height: 100vh;
  width: 100%;
  background: url("../img/bg-form.jpg") center center no-repeat;
  background-size: cover; }

.container--form {
  height: 90%; }

.order__title {
  padding-top: 7.5rem; }
  @media screen and (max-width: 769px) {
    .order__title {
      padding: 17% 0 4% 0;
      font-size: 4.5rem; } }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 3.8rem;
      padding-top: 10%;
      padding-bottom: 1%; } }
  @media screen and (max-width: 420px) {
    .order__title {
      font-size: 3.0rem;
      padding-top: 10%; } }
  @media screen and (max-width: 420px) {
    .order__title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      padding-top: 7%; } }

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 65%;
  padding-top: 4%; }
  @media screen and (max-width: 769px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: unset;
      -ms-flex-pack: unset;
      justify-content: unset;
      padding-top: 0; } }
  @media screen and (max-width: 480px) {
    .order__form {
      height: 80%; } }

.form__column {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  @media screen and (max-width: 769px) {
    .form__column {
      margin-top: 2%;
      height: 38%;
      width: 61%; } }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 92%;
      height: 39%;
      padding-top: 2%; } }

@media screen and (max-width: 769px) {
  .form__column--two {
    height: 60%;
    margin-top: 0; } }

@media screen and (max-width: 480px) {
  .form__column--two {
    height: 58%; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 5%; }
  @media screen and (max-width: 769px) {
    .form__row {
      margin-bottom: 6%; } }

.form__row--inputs {
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset; }
  @media screen and (max-width: 769px) {
    .form__row--inputs {
      margin: 6% 0 5% 0; } }
  @media screen and (max-width: 480px) {
    .form__row--inputs {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__row--clear {
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset; }
  @media screen and (max-width: 769px) {
    .form__row--clear {
      margin: 5% 0 0 0; } }
  @media screen and (max-width: 480px) {
    .form__row--clear {
      margin: 0 0 0 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__row--comment {
  height: 38%;
  margin-bottom: 0;
  width: 97%; }
  @media screen and (max-width: 769px) {
    .form__row--comment {
      width: 100%;
      height: 33%; } }
  @media screen and (max-width: 480px) {
    .form__row--comment {
      height: 41%; } }

.form__block {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px; }
  @media screen and (max-width: 769px) {
    .form__block {
      margin-right: 20px; } }
  @media screen and (max-width: 480px) {
    .form__block {
      margin-right: 5%; } }

@media screen and (max-width: 769px) {
  .form__block:last-child {
    margin-right: 0; } }

.form__block--comment {
  height: 71%;
  margin: 0; }
  @media screen and (max-width: 769px) {
    .form__block--comment {
      height: 88%; } }

.form__input {
  width: 100%;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__input--order {
  margin: 0 0 3% 0; }
  @media screen and (max-width: 480px) {
    .form__input--order {
      margin: 0 0 8% 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__block--radio {
  max-width: 34%; }
  @media screen and (max-width: 769px) {
    .form__block--radio {
      max-width: 35%;
      margin: 0; } }
  @media screen and (max-width: 420px) {
    .form__block--radio {
      max-width: 45%; } }

@media screen and (max-width: 480px) {
  .form__block--order {
    max-width: 160px;
    margin-top: 3%; } }

.form__input, .form__textarea {
  border-radius: 5px;
  border: 1px solid #d1cfcb;
  font-family: Ubuntu, Arial;
  font-size: 14px;
  color: #2f3234;
  outline-color: #f9b43b; }

.form__textarea {
  resize: none;
  width: 100%;
  overflow: hidden;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .form__textarea {
      height: 20%; } }
  @media screen and (max-width: 480px) {
    .form__textarea {
      height: 85%; } }

.button--order {
  margin: 0 0 0 2%;
  border: none; }
  @media screen and (max-width: 769px) {
    .button--order {
      margin: 0 2% 0 0%; } }
  @media screen and (max-width: 480px) {
    .button--order {
      margin: 1% 7% 0 0; } }

.clear {
  display: inline-block;
  cursor: pointer;
  margin: 2% 0 0 3%;
  color: white;
  padding: 5px;
  cursor: pointer;
  background: none;
  border: none; }
  @media screen and (max-width: 480px) {
    .clear {
      margin: 0; } }

.radio, .checkbox {
  display: none; }

.radio-custom, .checkbox-custom {
  width: 16px;
  height: 16px;
  position: relative;
  background: white; }

.radio-custom, .checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.checkbox:checked + .checkbox-custom::before {
  content: "";
  /* Добавляем наш псевдоэлемент */
  display: block;
  /* Делаем его блочным элементом */
  position: absolute;
  /* Позиционируем его абсолютным образом */
  top: 3px;
  left: 2px;
  right: 3px;
  bottom: 3px;
  background: url("../img/check.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px; }

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #e35028;
  border-radius: 2px; }

.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%; }

.contacts {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.contacts__title {
  visibility: hidden;
  position: absolute;
  text-align: center;
  width: 100%; }

.contacts__map {
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgray; }

.footer {
  width: 100%;
  height: 58px;
  position: absolute;
  background: black;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  left: 0px; }
  @media screen and (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 115px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 769px) {
    .footer__container {
      width: 100%;
      height: 75%; } }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__info {
  font-family: Ubuntu, Arial;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 769px) {
    .footer__info {
      margin: 0px 0% 0 3%;
      width: 50%;
      line-height: 14px; } }
  @media screen and (max-width: 480px) {
    .footer__info {
      margin: 0;
      padding: 0;
      text-align: center;
      width: 70%;
      height: 50%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__adress {
  margin: 0 0 6px 0; }

.footer__phone {
  margin: 0px;
  color: #e45028;
  font-weight: bold; }

@media screen and (max-width: 769px) {
  .footer__social {
    margin: 0 0 0 37%;
    width: 200px; } }

@media screen and (max-width: 480px) {
  .footer__social {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 32%;
    margin-right: 5%; } }

.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 15px; }
  @media screen and (max-width: 480px) {
    .social__link {
      margin-left: 15px;
      padding: 0; } }

.social__img {
  height: 20px;
  width: 20px;
  opacity: 0.7; }
  .social__img:hover {
    opacity: 1; }

.navigat {
  list-style: none;
  position: fixed;
  right: 1.4375rem;
  top: 5.6875rem;
  margin: 0;
  padding: 0;
  width: 2.5rem;
  z-index: 1000; }
  @media screen and (max-width: 769px) {
    .navigat {
      display: none; } }
  .navigat .navigat__item--active .navigat__link:before {
    opacity: 1;
    width: 0.9375rem;
    height: 0.9375rem; }

.navigat__link:before, .navigat__link:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0; }

.navigat__link:hover:before {
  opacity: 1;
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navigat__item {
  width: 0.625rem;
  height: 0.625rem;
  margin-bottom: 0.75rem;
  position: relative;
  display: block; }
  @media screen and (max-width: 769px) {
    .navigat__item {
      margin-bottom: 1.25rem; } }

.navigat__link {
  width: 0.375rem;
  height: 0.375rem;
  padding: 0.375rem;
  position: absolute;
  border-radius: 50%; }

.navigat__link:after {
  content: "";
  display: block;
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #fff; }

/*# sourceMappingURL=main.css.map */