//	RESOLUTION
$tablets:769px;
$phones:480px;


//		FONTS
@import "fonts.scss";

//		MEDIA
@import "media.scss";
//		CONFIG

@import "config/variables.scss";
@import "config/mixins.scss";

//      SECTIONS
@import "../scss/sections/common.scss";
@import "../scss/sections/header.scss";
@import "../scss/sections/weBest.scss";
@import "../scss/sections/slider.scss";
@import "../scss/sections/team.scss";
@import "../scss/sections/menu.scss";
@import "../scss/sections/reviews.scss";
@import "../scss/sections/form.scss";
@import "../scss/sections/contacts.scss";




.navigat {
	list-style:none;
	position:fixed;
	right:rem(23px);
	top:rem(91px);
	margin: 0;
	padding: 0;
	width: rem(40px);
	z-index:1000;
	@include tablets() {
		display:none;

	}
	.navigat__item--active {
		.navigat__link:before {
			opacity:1;
			width:rem(15px);
			height: rem(15px);	
			}
		}
}
.navigat__link:before, .navigat__link:hover:before {
	content:"";
	display:block;
	position:absolute;
	width: rem(0px);	
	height: rem(0px);	
	border-radius: 50%;
	border:rem(1px) solid #fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:.3s;
	opacity:0;
}
.navigat__link:hover:before {
	opacity:1;
	width:rem(15px);
	height:rem(15px);
	transition:.3s;
}
.navigat__item {
	width:rem(10px);
	height: rem(10px);
	margin-bottom:rem(12px);
	position: relative;
	display:block;
	@include tablets() {
		margin-bottom:rem(20px);
	}
}
.navigat__link {
	width: rem(6px);
	height: rem(6px);
	padding: rem(6px);
	position:absolute;
	border-radius: 50%;
}
.navigat__link:after {
	content:"";
	display:block;
	position:absolute;
	width: rem(6px);
	height: rem(6px);
	border-radius: 50%;
	background: #fff;
}













