@import "config/variables.scss";
@import "config/mixins.scss";

//		FONTS

@import "fonts.scss";


ul li:first-child{
	text-decoration: none;
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}
.ubuntu__light {
	color:#7f7e7d;
	font-size:14px;
	font-family: Ubuntu, Arial;
	font-weight:300;
}
.title__item {
	font-size:72px;
	font-weight:100;
	font-family: Gagalin,Arial;
	font-style: normal;
}
.title {
	color:#2f3234;
	text-align: center;
}
.button {
	font-family:Ubuntu, Arial;
	font-weight:normal;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: 10px 14px 10px 18px;
	border-radius: 8px;
	height: 35px;
}
.header__button {
	margin:28px 17px 0 0;
	.button {
		background:#e45028;
		&:hover {
			background: darken(#e45028,7%);
		}
	}
}
.container {
	padding-top:20px;
	width:960px;
	position:center;
	margin:0 auto;
}
.header	 {
	height:100vh;
	width:100%;
	background: url("../img/video-bg.png") ;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	box-sizing:border-box;
	min-height:650px;
	
}
.header__menu {
	display:flex;
	justify-content: space-around;
	margin-top:-12px;
}
.logo {
	margin-right: auto;
}
.menu  {
	display: flex;
	color:#fff;
	margin:17px 0 0 0;
	&__item {
		margin:12px 33px 0px 0;
		font-family:Ubuntu, Arial;
		font-size: 13px;
		font-weight:normal;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
			cursor:pointer;
		}
	}
}
.header__content {
	display:flex;
	justify-content:space-around;
	position:absolute;
	top:50%;
	margin-top:-262px;
}
.header__left, .header__right {
	width:400px;
}
.header__left{
	position:relative;
	margin-left:23px;
	box-sizing:border-box;
}
.header__right {
	margin:72px 0 0 62px;
	.title__item {
		color:#f9b43b;
	}
	p {
		color:#fff;
		font-size:65px;
		font-weight: medium;
		font-family: Lifehack,Arial;
		line-height: 60px;
		margin-top:-42px;
		margin-left:1px;
	}
}
.arrows {
	width:30px;
	position:absolute ;
	left:50%;
	bottom:60px;
	margin-left:-18px;
	transition-duration: .5s;
	&:hover {
		transform:scale(1.1) translateY(-10px);
		cursor:pointer;
	}
}
.navigat {
	list-style:none;
	position:fixed;
	right:153px;
	top:90px;
	margin: 0;
	padding: 0;
	width: 40px;
	.navigat__active {
		.navigat__link:before {
			opacity:1;
			width:15px;
			height: 15px;	
			}
		}
}
.navigat__link:before, .navigat__link:hover:before {
	content:"";
	display:block;
	position:absolute;
	width: 0px;	
	height: 0px;	
	border-radius: 50%;
	border:1px solid #fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:.5s;
	opacity:0;
}
.navigat__link:hover:before {
	opacity:1;
	width:15px;
	height:15px;
	transition:.5s;
}
.navigat__item {
	width:10px;
	height: 10px;
	margin-bottom:11px;
	position: relative;
	display:block;
}
.navigat__link {
	width: 6px;
	height: 6px;
	padding: 6px;
	position:absolute;
	border-radius: 50%;
}
.navigat__link:after {
	content:"";
	display:block;
	position:absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}


/*        МЫ ЛУЧШИЕ  		!!!!!!!!!!!!!!!!!!!!!!!   */

.section {
	width:100%;
	height:100vh;
	padding-bottom:30px;
	box-sizing: border-box;	
}
.section__weBest {
	background: url("../img/bg.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	position:relative;
	display:flex;
	.container {
		position:center;
		margin:auto;
		margin-top:35px ;
	}
}
.description {
	display:flex;
	justify-content: space-around;
	list-style:none;
	margin-top:-20px;
	.description__title {
		font-family:Lifehack, Arial;
		font-size:24px;
		color:#2f3234;
		margin-top:10px;
	}
	.ubuntu__light {
		margin-top:-10px;
		color:#807f7e;
		line-height:25px;
	}
}
.meet, .hand, .nature {
	width:300px;
	text-align: center;
}

/* 		3 секция		*/
.reviews {
	
	background:black;
	&__list {
		display:flex;
		flex-wrap: wrap;
		list-style:none;
	}
	.ubuntu__light {
		color:#fff;
		padding:20px;
		line-height:30px;
	}
	.reviews__title {
		font-family: Gagalin;
		font-size:14px;
		font-weight: normal;
		color:#fff;
		margin-top:25px;
		padding-left:15px;
	}
}
.people {
	height:50vh;
	width:25%;
	box-sizing: border-box;
	transition-duration:1s;
	&:hover .hide {
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.65);
		transition-duration:1s;
	}
}
.hide {
	width: 100%;
	height: 100%;
	margin-top:0;
	visibility: hidden;
	cursor:pointer;
	padding-top:1px;
}
.reviews__button {
margin-left:15px;
width:110px;
	.button {
		background: #2f3234;
		&:hover {
			background: darken(#2f3234,7%);
		}
	}
}
.people__1,.people__2,
.people__3,.people__4,
.people__5,.people__6,
.people__7,.people__8 {
	background-size:cover;
	background-repeat:no-repeat;
}
