@import "config/variables.scss";
@import "config/mixins.scss";
//		FONTS
@import "fonts.scss";
//      SECTIONS
@import "../scss/sections/common.scss";
@import "../scss/sections/header.scss";
@import "../scss/sections/weBest.scss";
@import "../scss/sections/slider.scss";
@import "../scss/sections/team.scss";
@import "../scss/sections/menu.scss";
@import "../scss/sections/reviews.scss";
@import "../scss/sections/form.scss";
@import "../scss/sections/contacts.scss";











.navigat {
	list-style:none;
	position:fixed;
	right:153px;
	top:90px;
	margin: 0;
	padding: 0;
	width: 40px;
	z-index:1000;
	.navigat__active {
		.navigat__link:before {
			opacity:1;
			width:15px;
			height: 15px;	
			}
		}
}
.navigat__link:before, .navigat__link:hover:before {
	content:"";
	display:block;
	position:absolute;
	width: 0px;	
	height: 0px;	
	border-radius: 50%;
	border:1px solid #fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	transition:.3s;
	opacity:0;
}
.navigat__link:hover:before {
	opacity:1;
	width:15px;
	height:15px;
	transition:.3s;
}
.navigat__item {
	width:10px;
	height: 10px;
	margin-bottom:11px;
	position: relative;
	display:block;
}
.navigat__link {
	width: 6px;
	height: 6px;
	padding: 6px;
	position:absolute;
	border-radius: 50%;
}
.navigat__link:after {
	content:"";
	display:block;
	position:absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}













