@function rem($px) {
		@return $px / 16px +rem;
}


@mixin tablets {
	@media screen and (max-width: $tablets) {
		@content;
	}
}
@mixin phones {
	@media screen and (max-width: $phones) {
		@content;
	}
}

@mixin minphones {
	@media screen and (max-width: $minphones) {
		@content;
	}
}