
html {
	font-size:16px;
	@include tablets() {
		font-size:15px;
	}
	@include phones() {
		font-size:14px;
	}
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin:rem(0px);
}

.section{
	width:100%;
	height:100vh;
	box-sizing: border-box;	
	min-height:rem(650px);
	
}
.title {
	font-size:rem(72px);
	font-weight:100;
	font-family: Gagalin,Arial;
	font-style: normal;
	color:#f9b43b;
	text-align: center;
}
.button {
	display:inline-block;
	font-family:Ubuntu, Arial;
	font-size: rem(13px);
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	padding: rem(10px) rem(14px) rem(10px) rem(14px);
	border-radius: rem(8px);
	background:#e45028;
	&:hover {
		background: darken(#e45028,7%);
		}
}

.container {
	max-width:rem(960px);
	margin:0 auto;
	width:100%;
}


.wrapper {
	position:relative;
	width: 100%;
	height: 100vh;
	overflow:hidden;
}


.maincontent {
	height: 100%;
    min-height: 650px;
    top: 0%;
    position: relative;
	transition:  .5s;
	will-change: transform;
 }
 