.order {
	height:100vh;
	width: 100%;
	background: url("../img/bg-form.jpg") center center no-repeat;
	background-size:cover;
}
.order--title {
		padding-top:120px;
}
.order__form {
	margin-top:15px;
	margin-right:5px;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:space-around;
}
.column {
	width:49%;
}
.row {
	display:flex;
	color:white;
	align-items:center;
}
.form__block {
	padding:15px 0 10px 0;
	margin-right:25px;
	flex:1;
	display:inline-block;
	color:#fff;
	font-size:14px;
}
.form__input {
	width:90%;
	padding:8px;
}
.form__input, .form__textarea {
	border-radius:5px;
	font-family: Ubuntu, Arial;
	font-size: 14px;
	color:#2f3234;
	outline-color:#f9b43b;
}
.button--order {
	margin-top:15px;
}
.clear {
	display:inline-block;
	cursor:pointer;
	margin:15px 0 0 20px;
	padding:5px;
	cursor:pointer;
}
