.order {
	height:100vh;
	width: 100%;
	background: url("../img/bg-form.jpg") center center no-repeat;
	background-size:cover;
}
.order__title {
		padding-top:rem(120px);
	@include tablets() {
		padding: 17% 0 4% 0;
		font-size:rem(72px);
	}
	@include phones() {
		font-size: 3.8rem;
    	padding-top: 10%;
    	padding-bottom: 1%;
	}
}
.order__form {
	margin-top:22px;
	margin-right:5px;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:space-around;
	@include tablets() {
		flex-direction:column;
		margin: 0;
		padding: 0;
		align-items: center;
	}
}
.form__column {
	width:49%;
	@include tablets() {
		width:65%;
	}
	@include phones() {
			width: 100%;
			margin: 0;
			flex-direction:column;
			display:flex;
		}
}
.form__row {
	display:flex;
	color:white;
	justify-content:left;
	@include phones() {
		justify-content:space-around;
	}
}
.form__row--inputs {
	width:70%;
	@include phones() {
		width: 80%;
		margin-left:15%;
	}
}
.form__block {
	padding:15px 4px 10px 8px;
	margin-right:25px;
	flex:1;
	display:inline-block;
	color:#fff;
	font-size:14px;
	text-align:left;
}
.form__block--comment {
	margin-left:-3px;
	width:98%;
	@include phones() {
		width:96%;
	}
}
.form__input {
	width:100%;
	padding:8px;
	@include phones() {
		padding: 9px;
    	padding-right: 0px;
	}
}
.form__input--order {
	width:100%;
	@include phones() {
		padding: 4% 0% 0% 34%;
	}
}
.form__input--radio {
	margin-right:5px;
}
.form__call {
	margin-right:5px;
}
.form__input, .form__textarea {
	border-radius:5px;
	border:1px solid #d1cfcb;
	font-family: Ubuntu, Arial;
	font-size: 14px;
	color:#2f3234;
	outline-color:#f9b43b;
}



.form__textarea {
	resize:none;
	width: 100%;
	overflow: 	hidden;
	@include phones() {
		height: 20%;
	}
}
.button--order {
	margin-top:15px;
	border:none;
	@include phones() {
		margin:5% -66% 4% 0%;

	}
}
.clear {
	display:inline-block;
	cursor:pointer;
	margin:15px 0 0 20px;
	padding:5px;
	cursor:pointer;
	background: none;
	border:none;
	@include phones() {
		margin-top:5px;
	}
}
