.order {
	height:100vh;
	width: 100%;
	background: url("../img/bg-form.jpg") center center no-repeat;
	background-size:cover;
}
.container--form {
	    height: 90%;

}
.order__title {
		padding-top:rem(120px);
	@include tablets() {
		padding: 17% 0 4% 0;
		font-size:rem(72px);
	}
	@include phones() {
		font-size: 3.8rem;
    	padding-top: 10%;
    	padding-bottom: 1%;
	}
	@include minphones() {
		font-size: 3.0rem;
    	padding-top: 10%;
	}
	@include minphones() {
		font-size: 2.5rem;
    	line-height: 2.5rem;
    	padding-top: 7%;
	}
}
.order__form {
	display: flex;
    justify-content: space-around;
	height: 65%;
	padding-top: 4%;
	@include tablets() {
		flex-direction: column;
    	align-items: center;
    	justify-content: unset;
    	padding-top: 0;
	}
	@include phones() {
		    height: 80%;
	}
}
.form__column {
	width:49%;
	display: flex;
    flex-direction: column;
    height: 100%;
	@include tablets() {
		margin-top: 2%;
    	height: 38%;
        width: 61%;
	}
	@include phones() {
			width: 92%;
    height: 39%;
    padding-top: 2%;
		}
}
.form__column--two {
	@include tablets() {
		    height: 60%;
		    margin-top:0;
	}
	@include phones() {
		    height: 58%;
	}
}
.form__row {
	display: flex;
	justify-content:space-around;
	margin-bottom: 5%;
	@include tablets() {
		    margin-bottom: 6%;
	}
	@include phones() {
		
	}
}
.form__row--inputs {
	justify-content:unset;
	@include tablets() {
		margin: 6% 0 5% 0;
	}
	@include phones() {
		    justify-content: center;

	}
}
.form__row--clear {
	justify-content:unset;
	@include tablets() {
		    margin: 5% 0 0 0;
	}
	@include phones() {
		margin: 0 0 0 0;
    justify-content: center;
	}
}
.form__row--comment {
		
    	height: 38%;
    margin-bottom: 0;
    width: 97%;
    @include tablets() {
    	width: 100%;
    	height: 33%;
    }
    @include phones() {
    	height: 41%;
    }
}
.form__block {
	
	
	display:inline-block;
	color:#fff;
	font-size:14px;
	flex: 1;
	margin-right: 10px;
	@include tablets() {
		margin-right: 20px;
	}
	@include phones() {
		margin-right: 5%;
		
	}
	
}
.form__block:last-child {
	@include tablets() {
		margin-right:0;
	}
	@include phones() {
		//max-width: 160px;
    	//margin-top: 3%;
	}
}
.form__block--comment {

	height: 71%;
    margin: 0;
    @include tablets() {
    	   height: 88%;
    }
	@include phones() {
		
	}
}
.form__input {
	    width: 100%;
	    padding: 8px;
	    box-sizing:border-box;
	@include phones() {
	
	}
}
.form__input--order {
	margin: 0 0 3% 0;
	@include phones() {
		margin: 0 0 8% 0;
		    justify-content: center;
	}
}
.form__block--radio {
	max-width: 34%;
	@include tablets() {
		    max-width: 35%;
    		margin: 0;
	}
	@include minphones() {
		max-width:45%;
	}
}
.form__block--order {
	@include phones() {
		max-width:160px;
		margin-top:3%;
	}
}
.form__input--radio {
		@include tablets() {

		}
}
.form__call {
	
}
.form__input, .form__textarea {
	border-radius:5px;
	border:1px solid #d1cfcb;
	font-family: Ubuntu, Arial;
	font-size: 14px;
	color:#2f3234;
	outline-color:#f9b43b;
}



.form__textarea {
	resize:none;
	width: 100%;
	overflow: 	hidden;
	height:100%;
	@include phones() {
		height: 20%;
	}
	@include phones() {
		height: 85%;
	}
}
.button--order {
	    margin: 0 0 0 2%;
	border:none;
	@include tablets() {
		    margin: 0 2% 0 0%;
	}
	@include phones() {
		margin: 1% 7% 0 0;

	}
}
.clear {
	display:inline-block;
	cursor:pointer;
	margin: 2% 0 0 3%;
    color: white;
	padding:5px;
	cursor:pointer;
	background: none;
	border:none;
	@include phones() {
		    margin: 0;
	}
}
.radio, .checkbox {
	display: none;
}
.radio-custom, .checkbox-custom {
	width: 16px;
	height: 16px;
	position: relative;
 	background:white;
}

.radio-custom, .checkbox-custom, 
.label {
	display: inline-block;
	vertical-align: middle;
	cursor:pointer;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	top:3px;
	left:2px;
	right:3px;
	bottom:3px;
	background: url("../img/check.png"); 
	background-repeat:no-repeat;   
	background-size: cover;
	border-radius: 2px;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: #e35028;
	border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
}