.header	 {
	height:100vh;
	width:100%;
	background: url("../img/video-bg.png") ;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:rem(650px);
	@include phones() {
		min-height:100%;
		max-height:100%;
	}
}
.header__container {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	@include tablets() {
		justify-content:space-around;
	}
}
.header__nav {
	display:flex;
	justify-content: space-around;
	align-items:center;
	height: 80px;
	padding-top:5px;
	@include tablets() {
		margin-top:-5px;
		padding: 0;
	}
	@include phones() {
		margin-top: -1%;
   		margin-left: 7%;
	}
}
.logo {
	margin-right: auto;
	margin-top:1%;
	margin-left:1%;
	@include tablets() {
		margin: -30px 0px 0 19px;
   		margin-right: auto;
	}
	@include phones() {
		margin: 12px 0px 0 -17px;
    	margin-right: auto;
	}
}

.nav__list  {
	display: flex;
	color:#fff;
	@include tablets() {
		display:none;
	}
}
.nav__item {
	display:flex;
	font-family:Ubuntu, Arial;
	font-size: rem(13px);
	text-transform: uppercase;
	align-items:center;
	margin-right: 19px;
	&:hover {
		text-decoration: underline;
		cursor:pointer;
	}
	&:before {
		content:"";
		display:inline-block;
		width: rem(5px);
		height: rem(5px);
		background: #fff;
		margin-right: 13px;
		border-radius:50%;
			}
	&:first-child {
		&:before {
			display:none;
		}
	}
}
.nav__link {
	color:white;
	text-decoration: none;
}
.header__button {
	margin-right:1%;
	@include tablets() {
		margin: -35px 39px 0 0;
	}
	@include phones() {
		margin: 0px 40px 0 0;
	}
}
.gamburger {
	
	height: 23px;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	cursor:pointer;
	overflow: hidden;
	width: 0;
	@include tablets() {
		width: 23px;
		 margin: -35px 30px 0 0;
	}
	@include phones() {
		    margin: 0px 20px 0 0;
	}
}
.gamburger__item {
	width: 100%;
	height: 4px;
	background: white;
	border-radius: 3px;	
}
.header__content {
	display:flex;
	justify-content:space-around;
	width: 100%;
	height: 440px;
	@include tablets() {
		height: 70%;
		flex-direction:column;
		align-items:center;

	}
	@include phones() {
	height: 80%;	
	}
}
.header__left {
	width: 50%;
	margin-top:7%;
	@include tablets() {
	margin: 123px 0px 0 0;
    width: 60%
	}
	@include phones() {
	height: 50%;
    width: 77%;
    padding-top: 11%;
    margin: 0;
    text-align: center;
	}
	@include minphones() {
		    padding-top: 0;
	}
}
.header__img {
	margin-top:-121px;
	
	width: 100%;
	@include tablets() {
	}
	@include phones() {
		margin-top:0%;	
    	width: 92%;
	}
}
.header__right {
	width: 50%;
	@include tablets() {
		width: 70%;
		margin-bottom:40px;
		padding: 10px 0 0 0;
    	height: 40%;
	}
	@include phones() {
		width: 100%;
		height: 50%;
		margin-top:15%;
	}
	@include minphones() {
		margin-top: 15%;
	}
}
.title--header {
	padding:85px 0 0 10px;
	
	text-align: left;
    margin-left: 7px;
	@include tablets() {
		
		padding:0 0 0 0;
		
		margin:6px 0 0 0;
		text-align:center;
	}
	@include phones() {
		    margin: -7% 0px 0 2%;
		    text-align:center;
	}
	@include minphones() {
		font-size: 3.5rem;
	}
}
.header__descr {
	color:#fff;
	font-size:rem(60px);
	font-family: Lifehack,Arial;
	margin-top:20px;
	line-height: 60px;
	padding-left:15px;
	@include tablets() {
	    font-size: 4.5rem;
	    text-align:center;
	}
	@include phones() {
		font-size:3.5rem;
		margin-top: -1%;
	}
	@include minphones() {
		font-size: 2.8rem;
    line-height: 42px;
    padding-top: 20px;
	}
}
.arrows {
	display:flex;
	justify-content:center;
	transition-duration: .5s;
	margin-bottom:rem(40px);
	&:hover {
		transform:scale(1.1) translateY(rem(-10px));
		cursor:pointer;
	}
	@include tablets() {
		    margin-bottom: 0;
    height: 3%;
	}
	@include phones() {
		margin-bottom:15px;
	}
	@include minphones() {
		  margin-bottom: 15%;
	}
}
////////////////////////////////////////////////////////

.under-menu {
	height:100vh;
	overflow: hidden;
	width: 100vw;
	position:fixed;
	top:0;
	left:0;
	background: #2f3234;
	z-index:10000;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
}
.under-menu__nav {
	
	display:flex;
	align-items:center;
	justify-content:space-between;
	height: 90px;
	width:90%;

}
.under-menu__logo {
	margin: 2px 0 0 -8px;
}
.under-menu__content {
	
	height: 79%;
	width: 50%;
}
.under-menu__list {
	display:flex;
	flex-direction:column;
	color:#fff;
	font-size:24px;
	text-transform: uppercase;
	
	text-align:center;
	
}
.under-menu__item {
	margin-top: 52px;
	position:relative;
	@include minphones() {
		  margin-top: 30px;
	}
}

.under-menu__link {
	color:white;
	text-decoration: none;

}
.under-menu__left, .under-menu__right {
	display:inline-block;
	border-radius:10px;
	width: 24px;
	height: 4px;
	background:#c1c2c2;

}
.under-menu__exit {
	cursor:pointer;
	margin-top:25px;
	margin-right:20px;
	width: 40px;
	height: 40px;
	border-radius:2px;
	@include tablets() {
		margin: 0 -15px 0 0px;
	}
	@include phones() {
		margin-top: 0px;
    	margin-right: -13px;
	}
}
.under-menu__left {
	transform: rotate(45deg) translate(12px)
}
.under-menu__right {
	transform: rotate(-45deg) translate(12px)	
}
.not-visible {
	height: 0;	
}
.under-menu__item:before {
	min-width: 2px;
    min-height: 2px;
    z-index: 100;
    content: '';
    padding: 3px;
    background: white;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -100%;
}
.under-menu__item:first-child:before {
	display:none;
}