.header	 {
	height:100vh;
	width:100%;
	background: url("../img/video-bg.png") ;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:rem(650px);
}
.header__container {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.header__nav {
	display:flex;
	justify-content: space-around;
	align-items:center;
	padding:rem(10px) rem(0px) rem(0px) rem(0px);
}
.logo {
	margin-right: auto;
}
.nav {
	margin-right:rem(5px);
}
.nav__list  {
	display: flex;
	color:#fff;
	@include tablets() {
		display:none;
	}
}
.nav__item {
	display:flex;
	margin-right:rem(30px);
	font-family:Ubuntu, Arial;
	font-size: rem(13px);
	text-transform: uppercase;
	align-items:center;
	&:hover {
		text-decoration: underline;
		cursor:pointer;
	}
	&:before {
		content:"";
		display:inline-block;
		width: rem(5px);
		height: rem(5px);
		background: #fff;
		position:absolute;
		border-radius:50%;
		margin:rem(0px) rem(-15px);
	}
	&:first-child {
		&:before {
			display:none;
		}
	}
}
.gamburger {
	width:30px;
	height: 30px;
	margin-left:30px;
	cursor:pointer;
	dispay:none;

	@include tablets() {
		display: flex;
		flex-direction:column;
		margin-right:20px;
		align-items:center;
	}
	@include phones() {
		
	}
}
.gamburger__item {
	width: 100%;
	height: 4px;
	background: white;
	border-radius: 3px;
	margin-bottom:6px;
}
.header__content {
	display:flex;
	justify-content:space-around;
	@include tablets() {
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	@include tablets() {	
	}
}
.header__left {
	margin:rem(-120px) rem(0px) rem(0px) rem(18px);
	
	@include tablets() {
		margin:0;
		width: 60%;
		margin-top:-80px;
	}
	@include phones() {
		width:60%;
	}
}
.header__left__img {
	width: 99%;
}
.title--header {
	margin:rem(15px) rem(80px) rem(55px) rem(0px);
	@include tablets() {
		margin:rem(30px) 0 0 0;
		font-size:3rem;
	}
	@include phones() {
		flex-direction:column;
		font-size:3rem;
	}
}
.header__right {
	@include tablets() {
		font-size:2rem;
		width: 75%;
		text-align:center;
	}
}
.header__right__descr {
	color:#fff;
	font-size:rem(60px);
	font-weight: medium;
	font-family: Lifehack,Arial;
	line-height: rem(60px);
	@include tablets() {
		padding: 0;
		margin: 0;
		font-size:rem(40px);
		line-height: 35px;

		
	}
}
.arrows {
	display:flex;
	justify-content:center;
	transition-duration: .5s;
	margin-bottom:rem(40px);
	&:hover {
		transform:scale(1.1) translateY(rem(-10px));
		cursor:pointer;
	}
}
