.menu2 {
	background: url("../img/bg_menu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	box-sizing:border-box;
}
.accordion {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	@include tablets() {
		max-width: 100%;
	}
}
.accordion__list {
	height:100%;
  	display: inline-flex;
  	@include tablets() {
  		width:100%;
  	}
}
.accordion__item {
	height:100%;
  	display: flex;

}
.accordion__trigger {
  	position: relative;
  	display: block;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
     line-height: 35px;
  	cursor: pointer;
  	border: none;
	width: 80px;
	height:100%;
	font-size: 40px;
	font-family: Gagalin, Arial;
	z-index:1;
  	transition: 0.4s;
  	padding:0;
  	@include phones() {
		max-width:50px;
  	}
}
.accordion__trigger:hover {
	.accordion__trigger-text {
		color: #f9b43b;
		transition: .2s;
	}
}
.accordion__trigger-text {
  	position: absolute;
 	white-space: nowrap;
	color:white;
	transform:rotate(-90deg);
	position:absolute;
	bottom:21px;
	left:50%;
	width:320px;
	z-index:10;
	text-align:left;
	transition: .5s;
  	transform-origin: 0 center;

}
.accordion__content {
  background-color: rgba(48, 50, 51, 0.95);
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 13px;
  width: 0px;
  line-height: 1.5;
  width: 0;
  height: 100%;
  transition: width 1s;
}
.accordion__text {
  	width: 470px;
    padding: 55px 30px 20px 35px;
    color:white;
    line-height: 1.9;
    @include tablets() {
    	padding: 55px 0% 20px 7%;
    }
}

.accordion__bg {
	width: 100%;	
	height: 100%;	
	position:absolute;
	background: rgba(0,0,0,0.6);
}
.accordion__item--active {
	@include tablets() {
		width: calc(100% - 160px);
	}
	@include phones() {
		width:calc(100% - 100px);
	}
	.accordion__content {
		width: 540px;
		@include tablets() {		
		}
	}
	.accordion__trigger {
		@include tablets() {
			min-width:80px;
		}
		@include phones() {
			min-width:50px;
		}
	}
	.accordion__trigger-text {
		color: #f9b43b;
		transition: .2s;
	}
}
@media screen and (max-width: 750px) {
		.accrodion__content {
			width: 520px;}
		.accordion__text {
			width: 400px;}
}
@media screen and (max-width: 640px) {
		.accrodion__content {
			width: 440px;}
		.accordion__text {
			width: 290px;}
}
@media screen and (max-width: 560px) {
		.accrodion__content {
			width: 350px;}
		.accordion__text {
			width: 230px ;}
}
@media screen and (max-width: 520px) {
		.accrodion__content {
			width: 350px;}
		.accordion__text {
			width: 190px ;}
}
@media screen and (max-width: 430px) {
		.accordion__text {
			width: 200px ;}
}
@media screen and (max-width: 380px) {
		.accordion__text {
			width: 170px ;
			line-height:1.5;}
}
@media screen and (max-width: 350px) {
		.accordion__text {
			width: 140px ;
			line-height:1.5;}
}




.menu {
	background: url("../img/bg_menu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	box-sizing:border-box;
}
.title--menu {
	position:absolute;
	color:#fff;
	top:100px;
	left:90px;
	@include tablets() {
		top:50px;
		left:50px;
	}
}
.menu__container {
	position:absolute;
	display:flex;
	right:0;
	height:100%;
	width:100%;
	top: 0;
	color:#fff;
}
.menu__list {
	transition:.5s;
	cursor:pointer;
	display:inline-block;
	width:80px;
	position:relative;
	box-sizing:border-box;

	
	@include tablets() {
		width:10%;
	}	
	@include phones() {
		
	}
}
.menu__list:hover .menu__text-rotate {
	color: #f9b43b;
	transition: .5s;
}
.menu__list:first-child {
	margin-left:auto;
	
}
.menu__list--active {
	transition:.5s;
	width:80px+540px;

	@include tablets() {
		
		width: 80%;
    	margin-right: auto;
	}
	@include phones() {
		margin-left: 0px;
    	width: 80%;
	}
	.menu__info {
			transition:.5s;
		width: 540px;
		line-height:24px;
		padding:0;
		
		@include tablets() {
			width:87.5%;
			padding: 9% 3% 6% 7%;
			}
			@include phones() {
				line-height: 20px;
				font-size: 	16px;
				margin:0;
				width: 100%;
    			padding: 9% 5% 6% 7%;
    			overflow: hidden;
    			height:100%;
    			width:85%;

		}
	}
	.menu__text-rotate {
		color:#f9b43b;
		@include phones() {

		}
	}
	.menu__item {
		transition:.5s;
		@include tablets() {
			width:15%;
		}
		@include phones() {
		
		}
	}
}
.menu__item {
	transition:.5s;
	position:absolute;
	left:0;
	top:0;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	height:100%;
	width:80px;
	font-size: 40px;
	font-family: Gagalin, Arial;
	z-index:1;
	@include tablets() {
		width:100%;
		max-width:80px;
	}
	@include phones() {
	
	}
}
.menu__content {
	padding: 60px 0px 0 35px;
    box-sizing: border-box;
    width: 510px;
    height: auto;
    @include tablets() {
    	width: 95%;
    	padding:0;
    }
}
.menu__item-bg {
	background: rgba(0,0,0, 0.55);
	position:absolute;
	width:100%;
	height: 100%;
}
.menu__info {
	transition:.5s;
	line-height:24px;
	display:inline-block;
	overflow: hidden;
	position:absolute;
	top:0;
	right:0;
	background:rgba(46,49,51,0.95);
	padding: 0;
	width:0;
	height: 100%;
	box-sizing:border-box;


	@include phones() {
    	padding: 9% 8% 5% 73%;		
	}
}
.menu__text-rotate {
	transform:rotate(-90deg);
	transform-origin: 0 0;
	position:absolute;
	bottom:0px;
	left:25%;
	width:320px;
	z-index:10;
	text-align:left;
	transition: .5s;
	@include tablets() {
		left:5px;

		
	}
	@include phones() {
		font-size: 2.0rem;
    	left:0%;
	}
}


@media screen and (max-width: 768px) {
		.menu__content  {
			width:450px;
		}
		.menu__info {
			padding-top:55px;
		}
}
@media screen and (max-width: 700px) {
		.menu__content  {
			width:370px;
		}
}
@media screen and (max-width: 600px) {
		.menu__content  {
			width:300px;
		}
}
@media screen and (max-width: 440px) {
		.menu__content  {
			width:210px;
		}
		.menu__text-rotate {
			font-size: 1.5rem;
    		left: 4%;
		}
}
@media screen and (max-width: 370px) {
		.menu__content  {
			width:180px;
		}
}







//   new
