.menu {
	background: url("../img/bg_menu.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
	box-sizing:border-box;
}
.title--menu {
	position:absolute;
	color:#fff;
	top:100px;
	left:90px;
	@include tablets() {
		top:50px;
		left:50px;
	}
}
.menu__container {
	position:absolute;
	display:flex;
	right:0;
	height:100%;
	width:100%;
	top: 0;
	color:#fff;
}
.menu__list {
	display:inline-block;
	width:80px;
	position:relative;
	box-sizing:border-box;
	@include tablets() {
		width:70px;
	}	
	@include phones() {
		width:70px;
	}
}
.menu__list:first-child {
	margin-left:auto;
	
}
.menu__list--active {
	width:80px+540px;
	@include tablets() {
		
		width: 82%;
    	margin-right: auto;
	}
	@include phones() {
		margin-left: 0px;
    	width: 71%;
	}
	.menu__info {
		width: 540px;
    	padding: 9% 6% 6% 6%;
    	padding-top: 9%;
		line-height:25px;
		@include tablets() {
			width:100%;
			padding: 9% 6% 6% 19%;
			}
			@include phones() {
				line-height: 20px;
				font-size: 	16px;
				margin:0;
				width: 100%;
    			padding: 15px 10px 0 29%;

		}
	}
	.menu__text-rotate {
		color:#f9b43b;
	}
}
.menu__item {
	position:absolute;
	left:0;
	top:0;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	height:100vh;
	width:80px;
	font-size: 40px;
	font-family: Gagalin, Arial;
	z-index:1;
	@include tablets() {
		
		width:70px;
	}
	@include phones() {
		width: 70px;	
	}
}
.menu__item-bg {
	background:rgba(46,49,51,0.35);
	position:absolute;
	width:100%;
	height: 100%;
}
.menu__info {
	display:inline-block;
	overflow: hidden;
	position:absolute;
	top:0;
	right:0;
	background:rgba(46,49,51,0.95);
	padding:30px 20px 0 20px;
	width:0;
	height: 100%;
	box-sizing:border-box;
	@include phones() {
    	padding: 9% 8% 5% 73%;		
	}
}
.menu__text-rotate {
	transform:rotate(-90deg);
	transform-origin: 0 0;
	position:absolute;
	bottom:0px;
	left:25%;
	width:320px;
	z-index:10;
	text-align:left;
	@include tablets() {
		left:5px;

		
	}
	@include phones() {
		font-size:2.5rem;
	}
}
