.reviews {
	background:black;
}
.reviews__title {
	position:absolute;
	width: 100%;
    text-align: center;
	visibility: hidden;
}
.reviews__list {
	filter: grayscale(100%);
	display:flex;
	flex-wrap: wrap;
	height:100%;
}
.reviews__people {
	height:50vh;
	width:25%;
	box-sizing: border-box;
	transition-duration:1s;
	font-weight: 300;
	@include tablets() {
		height:25%;
		width: 50%;
	}
	&:hover .hide {
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.65);
		transition-duration:1s;
	}
}
.hide {
	width: 100%;
	height: 100%;
	visibility: hidden;
	cursor:pointer;
	padding-top:rem(1px);
	@include tablets() {
		text-align:center;
		padding-top: 1px;
	}

	p {
		color:#fff;
		line-height: 1.6rem;
    	padding: 0 5% 0 9%;
		font-size:14px;
		font-family: Ubuntu,Arial;
		font-weight: light;
		@include tablets() {
    		padding: 0% 4% 0% 4%;
    		margin: 0 0 0 0;
    		line-height: 1.2rem;
		}
		@include phones() {
			display:none;
		}
	}
}
.hide__title {
		font-family: Gagalin;
		font-size:rem(14px);
		font-weight: normal;
		color:#fff;
		margin-top:rem(25px);
		padding-left: 10%;
		@include tablets() {
			width: 100%;
    		text-align: center;
    		padding-left: 0;
    		margin-top:5%;
		}	
		@include phones() {			
			font-size: rem(24px);
    		margin: 0 0 0 0;
    		text-align: center;
    		padding: 7% 0 0 0;
		}
	}
.button--hide {
	background: #2f3234;
	margin-left: rem(20px);
	@include tablets() {
		transform:scale(0.75);
		margin-left:0px;
		padding: 3% 9%;
	}
	@include phones() {
		transform:scale(1.1);
		margin-top: 17%;
	}
	&:hover {
		background: darken(#2f3234,7%);
	}
}
.reviews__people {
	background-size:cover;
	background-repeat:no-repeat;
	@include tablets() {
		background-position: center center;
	}
}



.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,0.8);
    z-index: 99;   
}

.overlay__container {
	position:relative;
	@include phones() {
		display: flex;
    	justify-content: center;
    	width: 88%;
    	min-height: 30%;
	}
}
 .overlay__content {
 	padding:20px 0 0 20px;
 	box-sizing:border-box;
	width:470px;
	height:250px;
	border-radius:10px;
	background: #fff;
	@include phones() {
		padding: 20px 20px 0 20px;
    	width: 100%;
    	height: 95%;
	}
 }
.close {   
    color: red;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    font-size: 28px;
    width: 40px;
    height: 40px;
    transition:.3s;
}
.close:hover {
	transform:scale(1.2);
	transition:.3s;
}
 .overlay__title {
		font-family: 	Gagalin, Arial;
		font-size: 	18px;
		font-weight: 	bold;
		color:#2f3234;
	}
 .overlay__description {
		font-family: 	Ubuntu, Arial;
		font-weight: 	light;
		font-size: 	14px;
		line-height:25px;
 }



