.reviews {
	background:black;
}
.reviews__title {
	position:absolute;
	width: 100%;
    text-align: center;
	visibility: hidden;
}
.reviews__list {
	filter: grayscale(100%);
	display:flex;
		flex-wrap: wrap;
}
.reviews__people {
	height:50vh;
	width:25%;
	box-sizing: border-box;
	transition-duration:1s;
	font-weight: 300;
	@include tablets() {
		height:25vh;
		width: 50%;
	}
	&:hover .hide {
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.65);
		transition-duration:1s;
	}
}
.hide {
	width: 100%;
	height: 100%;
	visibility: hidden;
	cursor:pointer;
	padding-top:rem(1px);
	@include tablets() {
		text-align:center;
		padding-top: 2%;

	}

	p {
		color:#fff;
		padding:rem(20px) rem(40px) rem(20px) 0;
		line-height:rem(30px);
		padding-left: rem(20px);
		font-family: Ubuntu,Arial;
		font-weight: light;
		@include tablets() {
			padding: 4% 11% 0% 11%;
   			padding-top: 4%;
    		line-height: 1.4rem;
		}
		@include phones() {
			display:none;
		}
	}
}
.hide__title {
		font-family: Gagalin;
		font-size:rem(14px);
		font-weight: normal;
		color:#fff;
		margin-top:rem(25px);
		padding-left: rem(20px);
		@include phones() {
			padding-top: 3%;
		}	
		@include phones() {
			margin-top:rem(20px);
			font-size: rem(24px);
		    margin-bottom: 16%;
    		padding: 0 14%;
		}
	}
.button--hide {
	background: #2f3234;
	margin-left: rem(20px);
	@include tablets() {
		transform:scale(0.75);
		margin-left:0px;
		padding: 3% 9%;
	}
	@include phones() {
		transform:scale(1.1);
		margin-left:0px;
		margin-top:5%;
	}
	&:hover {
		background: darken(#2f3234,7%);
		}
}
.reviews__people {
	background-size:cover;
	background-repeat:no-repeat;

	@include tablets() {
		background-position: center center;
			

	}

}