.reviews {
	background:black;
}
.reviews__title {
	position:absolute;
	width: 100%;
    text-align: center;
	visibility: hidden;
}
.reviews__list {
	filter: grayscale(100%);
	display:flex;
	flex-wrap: wrap;
}
.reviews__people {
	height:50vh;
	width:25%;
	box-sizing: border-box;
	transition-duration:1s;
	font-weight: 300;
	@include tablets() {
		height:25vh;
		width: 50%;
	}
	&:hover .hide {
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.65);
		transition-duration:1s;
	}
}
.hide {
	width: 100%;
	height: 100%;
	visibility: hidden;
	cursor:pointer;
	padding-top:rem(1px);
	@include tablets() {
		text-align:center;
		padding-top: 1px;
	}

	p {
		color:#fff;
		line-height: 1.6rem;
    	padding: 0 5% 0 9%;
		font-size:14px;
		font-family: Ubuntu,Arial;
		font-weight: light;
		@include tablets() {
    		padding: 0% 4% 0% 4%;
    		margin: 0 0 0 0;
    		line-height: 1.2rem;
		}
		@include phones() {
			display:none;
		}
	}
}
.hide__title {
		font-family: Gagalin;
		font-size:rem(14px);
		font-weight: normal;
		color:#fff;
		margin-top:rem(25px);
		padding-left: 10%;
		@include tablets() {
		width: 100%;
    	text-align: center;
    	padding-left: 0;
    	margin-top:5%;
		}	
		@include phones() {			
			font-size: rem(24px);
    		margin: 0 0 0 0;
    		text-align: center;
    		padding: 7% 0 0 0;
		}
	}
.button--hide {
	background: #2f3234;
	margin-left: rem(20px);
	@include tablets() {
		transform:scale(0.75);
		margin-left:0px;
		padding: 3% 9%;
	}
	@include phones() {
		transform:scale(1.1);
		margin-top: 17%;
	}
	&:hover {
		background: darken(#2f3234,7%);
		}
}
.reviews__people {
	background-size:cover;
	background-repeat:no-repeat;
	@include tablets() {
		background-position: center center;
	}
}