.slider {
	height:100vh;
	width: 100%;
	background: linear-gradient(to bottom, #f9b43b 30%, #eb8d38 60%, #f9b43b 90%);	
	z-index:10000;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.slider-wrap {
	width: 100%;
	position:relative;
	display: flex;
    justify-content: center;
    max-width: 1050px;
    max-height:600px;
    @include tablets() {
    	max-height:90%;
    }
	@include phones() {
		max-height: 95%;
   	 	height: 95%;
	}
} 
.slider__container {
	width:90%;
	width:90%;
	position:relative;
	display:flex;
	overflow:hidden;
	@include phones() {
		    width: 100%;
    height: 100%;
	}
}
.slider__list {
		position: relative;
  		list-style: none;
  		margin: 0;
  		padding: 0;
  		height: 100%;
  		width:100%;
  		transition: left 0.7s; 
  		left: 0;
  		box-sizing:border-box;
  		display:flex;	
}
.slider__item {
	display:flex;
	justify-content:center;
    min-width:100%;
    height:100%;
    box-sizing:border-box;
}
.slider__item-container {
	width: 100%;	
	height: 100%;	
	display:flex;
	@include tablets() {
		flex-direction: column;
	}
}
.slider__pictures {
	width:50%;
	height: 100%;
	position:relative;	
	@include tablets() {
		width: 100%;
    	height: 50%;
    	height: 45%;
   		margin-top: 6%;
	}
	@include phones() {
		margin: 0;
    	height: 54%;
	}
	@include minphones() {
		height: 50%;
	}
}
.slider__button {
	cursor:pointer;
	position:absolute;
  	text-decoration:none;
  	display:inline-block;
  	box-sizing:border-box;
  	text-align: left;
    width: 6%;
    height: 20%;
    padding-top: 4%;
    top: 40%;
}
.slider__button {
	@include tablets() {
		top: 44%;
	    width: 10%;
	    height: 13%;
	    z-index:10;
	}
	@include phones() {
		top:43%;
	}
}
.slider__button--left {
	left:0px;
	text-align: right;
	@include tablets() {
		
	}
	@include phones() {
		left:2%;
	}
}
.slider__img--left {
	transform:rotate(90deg);
	@include tablets() {
		padding-left: 46%;
	}
}
.slider__button--right {
	right:0px;
	text-align: left;
	@include phones() {
		right:2%;
	}
}
.slider__img--right {
	transform:rotate(-90deg);
	@include tablets() {
		padding-right: 46%;
	}

}
.slider__consist, .slider__kkal {
	width: 90px;
	height: 90px;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	position:absolute;
}
.slider__consist {
	cursor:pointer;
	background: #f08c33;
	border-radius:5px;
	left: 5%;
    top: 5%;
	@include tablets() {
		top: 5%;
    left: 16%;
	}
	@include phones() {
		top: 8%;
    left: 2%;
	}
	&:hover {
		background: #e35028;
		transition: .5s;
	}
}
.slider__consist--red {
	background: #e35028;

}
.consist-info__img {
	width: 42px;	
	height: 46px;	
}
.consist-info {
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:center;
	height: 330px;	
	background: rgba(255,255,255,0.9);
	border-radius:5px;
	width: 0px;
	overflow: hidden;
	top: 5%;
    left: 112px;
	@include tablets() {
	    top: 5%;
    	left:99px;
	}
	@include phones() {
		top: 8%;
		left:94px;

   
	}
}
.consist-info--visible {
	width: 270px;
	@include phones() {
		width:200px;
	}
}
.consist-info__item {
	display:flex;
	justify-content:space-around;
	align-items:center;
	color:#2f3234;
	font-family: Ubuntu, Arial;
	font-size: 	14px;
	font-weight: bold;
	margin-bottom:8px;
}
.slider__pic {
	height:100%;
	width: 100%;	
}
.slider__about {
	font-size: 14px;
	font-family: Gagalin, Arial;
	text-transform: uppercase;
	color:#fff;
	line-height:30px;
}
.slider__burger {
	
		margin:0;
	    margin-top: 23%;
    width: 100%;
    height: 63%;
	@include tablets() {
		padding-top: 13%;
		width: 100%;
		margin: 0;
		height: 100%;
		display: flex;
		justify-content: center; 
	}
	@include phones() {
		    margin-top: 17%;
    height: 71%;
	}
	@include minphones() {
		    margin-top: 7%;
	}
}
.slider__burger-img {
		max-width:100%;
	    max-height:100%;
    @include tablets() {
    	width: 73%;
    	height: 80%;
    }
    @include phones() {
    	width: 84%;
    	height: 91%;
    }
    @include minphones() {
    	    width: 75%;
    height: 100%;
    }
}
.slider__kkal {
	bottom: 5%;
   	left: -2%;
    @include tablets() {
    	top: 2%;
    	left: 73%
    }
    @include phones() {
   		top: 5%;
    	left: unset;
    	right: 0%;
    }
}
.kkal__info {
	position:relative;
	opacity:0.7;
	@include phones() {
		width: 100%;
	}
}
.kkal__info-container {
	position:absolute;
	top: 38%;
    left: 29%;
}
.slider__info {
	width:50%;
	height: 100%;	
	display: flex;
    flex-direction: column;
    @include tablets() {
    	height: 50%;
    width: 100%;
    align-items: center;
    }
}
.slider__title {
	color: #fff;
	text-align: left;
	line-height:70px;
	width: 80%;
	padding: 14% 0px 0 1%;
    line-height: 65px;
    margin: 1% 0 0 2%;
	@include tablets() {  
		width: 75%;
	    margin: 0;
	    text-align: center;
	    padding: 4% 0 0 0;
	    align-self: center;
	}
	@include phones() {
		margin-top:0;
		font-size: 3.5rem;
    	line-height: 3.3rem;
	}
	@include minphones() {
		    font-size: 2.6rem;
    		line-height: 2.9rem;

    		width:100%;
    		    margin-top: 10px;
	}
}
.slider__description {
	font-family: Ubuntu, Arial;
	font-weight: light;
	font-size: 14px;
	color:#fff;
	line-height:24px;
	height: 20%;
    box-sizing: border-box;
    text-align: left;
    width: 95%;
    margin: 8% 0 0 0;
    padding: 1% 0 0 1%;
	@include tablets() {
		width: 80%;
    	margin: 5% 0 3% 0;	
	}
	@include phones() {
		width: 90%;;
    	height: auto;
    	margin-top: 6%;
    	margin-bottom: -4%;
	}
	@include minphones() {
		    line-height: 17px;
    	margin-top: 1%;
    	margin-bottom: -8%;
    	text-align: center;
	}
}
.slider__buy {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    height: 20%;
    @include tablets() {
    	margin: 0;
    width: 62%;
    justify-content: center;
    align-items: baseline;
    }
    @include phones() {
	    width: 100%;
	    padding-top: 30px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	    height: 13%;
    }
}
.slider__title--red {
	color:#e35028;
	box-sizing: border-box;
    padding: 9px 0 0 5px;
	@include tablets() {
		margin: 0;
    	padding: 0;
	}
	@include phones() {
		font-size: 3.5rem;
	}
}
.slider__ruble {
	color:#e35028;
	font-size:30px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: Gagalin, Arial;
	
	margin: 7% 0 0 2%;
	@include tablets() {
		margin: 30px 28px 0 10px;
	}
	@include phones() {
		font-size: 1.8rem;
		margin: 5% 8% 0 1%;
	}
}
.button--order {
	margin: 35% 0% 0 27%;
	@include tablets() {
		margin: 30% 0 0 32%;
	}
	@include phones() {
		margin: 20% 0 0 33%;
	}
}
.button--slider {
	border:none;
	margin: 35% 0% 0 27%;
	@include tablets() {
		margin: 0;
	}
	@include phones() {
		    margin: 20% 0 0 -9%;
	}

}







