.team {
	background: url("../img/bg_team.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;
	position:relative;
}
.team__container {
	list-style:none;
	position:absolute;
	right:0;
	top:0;
	width:49%;
	height:100%;
	z-index:10;
	background: rgba(46,49,51,0.9);
	@include tablets() {
		left:0;
		width: 100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
}
.team__content { 
	padding: 11% 0 0 13%;
	@include tablets() {
		padding: 0 0 0 0;
    	height: auto;
    	align-items: center;
	}
	@include phones() {
		    padding: 0 0 0 0;
	}
}
.title--team-position {
	text-align:left;
	margin:35px 0 0 rem(25px);
	@include tablets() {
		text-align: center;
		margin:0 0 0 0;
	}
	@include phones() {
		font-size: 3.5rem;
    		margin: -2% 0 0 0;
		

	}
}
.team-acco {
	padding: 0 0 0 10%;
    margin: 7% 0 0 0;
	height: 100%;	
	@include tablets() {

    padding: 4% 0 0 0;
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	@include phones() {
	height:88%;
	}
}
.team-acco__item {
	margin: 0 0 3% 0;
	transition:.5s ;
	@include tablets() {
    	width: 50%;
    	margin: 0 0 3% 0;
    	text-align: center
	}
	@include phones() {
		    margin: 0 0 4% 0;
		    width: 85%;
		    ;
	}
}
.team__title {
	color:#fff;
	font-family: Gagalin;
	font-size: rem(14px);
	font-weight: normal;
	cursor: pointer;
	position:relative;
	&:hover {
		color:#f9b43b;
	}	
	@include tablets() {
		font-size: 1.6rem;
		text-align: center;
		display: inline-block;
		width: 230px;
	}
	@include phones() {
		    
    		

	}
}
.team__title:before {
	content:"";
	display:block;
	position:absolute;
	left:rem(-20px);
	top:rem(5px);
	border: rem(8px) solid transparent;	
	border-top: rem(8px) solid #f9b43b;
	
	@include tablets() {
		left: 0;
   		top: 30%;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	@include phones() {

	}
}
.team__info {
	
	height: 0px;	
	overflow:hidden;
	transition:.5s;
	display: flex;
    flex-direction: row;
    padding: 4% 0 0 0;
	@include tablets() {
		flex-direction: column;
    	align-items: center;
    	padding: 3% 0% 0% 0;
	}
	@include phones() {
	padding: 3% 0% 0% 0;
	}
}
.team__photo {
	
	border-radius: 50%;
	overflow: hidden;
	z-index:10;
	min-width:100px;
	min-height:100px;
	height:rem(100px);
	margin: 0 4% 0 0;
	@include tablets() {
		
	}

	@include phones() {
		margin: 0% 0 0 0;
    	padding: 0% 0 0 0;
    	min-width: 100px;
    	min-height: 100px;
	}
}
.team__img {
	min-width:100px;
	min-height:100px;
}
.team-acco__worker {
	
	line-height:rem(20px);
	margin-right:auto;
	font-family:Ubuntu, Arial;
	color:#fff;
	font-size:rem(14px);
	@include tablets() {
		    text-align: center;
    margin: 5% 0 0 0;
	}
	@include phones() {
	
    
  
	}
}
.worker__name {
	font-weight:bold;
	font-family: Ubuntu, Arial;
	font-size:16px;
	@include tablets() {
		
	}
}
.team-acco__worker p {
	font-weight: 300;
	width: 75%;
    height: 85%;
    margin: 0 0 0 0;
    padding: 4% 0 0 0;
    line-height: 23px;
	@include tablets() {
		text-align: center;
		font-size:14px;
		font-family: Ubuntu, Arial;
		margin: 0% 0 1% 0;   
    	width: 100%;
    	height: 70%;
	}
}

.team-acco__item--active {
			
	@include tablets() {
		
	}
	@include phones() {
		
	}
	.team__info {
		height: 132px;

		@include tablets() {
			height: 200px;
		}
		@include phones() {
			
		}
	}
	.team__title {
		color:#f9b43b;
		@include tablets() {
			
		}
	}
	
	.team__title {
		color:#f9b43b;
		&:before {
			transform:rotate(180deg);
			margin-top:rem(-5px);
		}
	}
}




