.team {
	background: url("../img/bg_team.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;
	position:relative;
}
.team__container {
	list-style:none;
	position:absolute;
	right:0;
	top:0;
	width:48%;
	height:100%;
	z-index:10;
	background: rgba(46,49,51,0.9);
	@include tablets() {
		left:0;
		width: 100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
}
.team__content { 
	padding:rem(95px) 0 0 rem(80px);
	@include tablets() {
	padding: 0;
    margin: 13% 0 0 0;
    height: 70%;
	}
}
.title--team-position {
	text-align:left;
	margin:35px 0 0 rem(25px);
	@include tablets() {
		text-align: center;
		margin:0 0 0 0;
	}
	@include phones() {
		font-size: 3.5rem;
    		margin: -2% 0 0 0;
		

	}
}
.team-acco {
	margin:rem(5px) 0 0 rem(55px);
	padding:10px;
	height: 100%;	
	@include tablets() {
		width: 95%;
		display:flex;
		flex-direction:column;
		align-items:center;	
		height: 60%;
		margin: 2% 0 0 0;
	}
	@include phones() {
		height: 77%;
    margin: -2% 0 0 0;
    padding:0;

	}
}
.team-acco__item {
	margin-top:rem(30px);
		transition:1s ;
	@include tablets() {
    margin: 0 0 0 0;
    padding: 0;
    width: 50%;
    text-align: center;
    height: 14%;
	}
	@include phones() {
		    margin: 0 0 4px 0;
    padding: 0;
    width: 50%;
    text-align: center;
    height: 16%;
	}
}
.team__title {
	color:#fff;
	font-family: Gagalin;
	font-size: rem(14px);
	font-weight: normal;
	cursor: pointer;
	position:relative;
	&:hover {
		color:#f9b43b;
	}	
	@include tablets() {
		margin: rem(20px) 0 0 0;
		padding: 0;
		text-align: center;
		display: inline-block;
		font-size:1.6rem;
	}
	@include phones() {
		    

	}
}
.team__title:before {
	content:"";
	display:block;
	position:absolute;
	left:rem(-20px);
	top:rem(5px);
	border: rem(8px) solid transparent;	
	border-top: rem(8px) solid #f9b43b;
	
	@include tablets() {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}
.team__info {
	justify-content:space-between;
	height: 0;	
	overflow:hidden;
	margin:17px 0 0 0;
	transition:1s;
	@include tablets() {
		margin:0 0 0 0;
	}
	@include phones() {

	}
}
.team__photo {
	margin-right:rem(30px);
	border-radius: 50%;
	overflow: hidden;
	z-index:10;
	width:rem(100px);
	height:rem(100px);
	@include tablets() {
		margin: 6px 18px 0 0;
		padding: 0;		
	}

	@include phones() {
	margin: 5px 18px 0 0;
    padding: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
	}
}
.team-acco__worker {
	width:rem(240px);
	line-height:rem(20px);
	margin-right:auto;
	font-family:Ubuntu, Arial;
	color:#fff;
	font-size:rem(14px);
	@include tablets() {
		margin:rem(10px) 0 0 0;
		text-align:center;
		width: 50%;
	}
	@include phones() {
	margin: 0.625rem 0 0 0;
    text-align: center;
    width: 59%;
    height: 36%;
    line-height: 20px;
	}
}
.worker__name {
	font-weight:bold;
	font-family: Ubuntu, Arial;
	font-size:16px;
	@include tablets() {
		text-align: center;
		height:36px;
	}
}
.team-acco__worker p {
	font-weight: 300;

	@include tablets() {
		text-align: center;
		font-size:14px;
		font-family: Ubuntu, Arial;
		margin: 0% 0 1% 0;   
    	width: 100%;
	}
}
.team-acco__item--active {
			
	@include tablets() {
		margin:0 0 0 0;
		width: 100%;
		min-height: 71%;
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	@include phones() {
		margin: 0 0 0px 0;
    	width: 100%;
    	height: 81%;
	}
	.team__title {
		color:#f9b43b;
		@include tablets() {
			font-size: 1.6rem;
    		height: 14%;
		}
	}
	.team__info {
			transition:1s ;
		display:flex;
		width: 100%;
		height:120px;	

		@include tablets() {
			transition:1s;
			flex-direction:column;
			align-items:center;
			
	    	height: 220px;
		}
		@include phones() {
			height:65%;
			width: 80%;
		}
	}
	.team__title {
		color:#f9b43b;
		&:before {
			transform:rotate(180deg);
			margin-top:rem(-5px);
		}
	}
}




