
.title--black {
	color:#2f3234;
	margin-top:-15px;
	margin-bottom:5px;
	@include tablets() {
		margin-top:-165px;
	}
	@include phones() {
		font-size:3.5rem;
		margin: -5% 0 0 0;	
		padding: 0;	
	}
	@include minphones() {
		margin-top: 0%;
    	padding: 0;
	}
	
}
.webest {
	background: url("../img/bg.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	padding-top:rem(0px);
	display:flex;
	flex-direction:column;
	justify-content:center;
	@include phones() {
		padding:0 10px;
	}
}
.description {
	display:flex;
	justify-content:space-between;
	margin-top:rem(40px);
	padding:5px;
	height: 270px;
	@include phones() {
		flex-direction:column;
		height: 50%;
		margin:0;	
	}
}

.description__item {
	
	@include phones() {
		height: 10%;	
	}
}
.description__item {
	display:flex;
	flex-direction:column;
	align-items:center;
	width:30%;
	@include tablets() {
		width: 30%;	
	}
	@include phones() {
		width:100%;
		flex-direction:row;
		justify-content:space-around;
	}
}

.description__info {
		text-align:center;
		width:100%;
		display:flex;
		justify-content:space-around;
		flex-direction:column;
	@include tablets() {
		width: 100%;	
	}
	@include phones() {
		display:flex;
		text-align:left;
		justify-content:space-between;
		flex-direction:column;
		align-items:flex-start;
		width: 70%;	
		p {
			font-size:14px;
			line-height:20px;
			@include minphones() {
				line-height: 1.4rem;
			}
		}
	}
}
.description__svg {
	width: 100px;
	height: 90px;
	margin-bottom:10px;
}
.description__title {
	font-family:Lifehack, Arial;
	font-size:rem(24px);
	color:#2f3234;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:20px;
	display:block;
	line-height:27px;
	flex:1;
	@include phones {
		font-size:1.5rem;
		margin-top: 20px;
    	padding-top: 0px;
    	padding-bottom: 28px;		
	}
	@include minphones() {
    	margin-top: 3px;
    	padding-top: 0px;
    	padding-bottom: 10px;
	}
}
.description__info p {
	margin-top:rem(0px);
	color:#807f7e;
	line-height:rem(24px);
}
